th, td {
  font-size: .9rem;
  text-align: center;
}

#btn_submit_food {
  margin-top: 1rem;
}

#btn_open_modal {
  margin-bottom: 0.5rem;
}

#modal_message {
  display: none;
}

#message {
  display: none;
}

/*Accordion*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border: 1px solid rgb(92, 92, 92);
  margin-bottom: .3rem;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


.img-responsive {
  max-width: 100%;
  height: auto;
}