<div
  class="modal fade"
  id="modalDrinks"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Por utilizar nuestra app te regalamos esta receta!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal_drink_body">
        <!-- <h1>Amaretto Rose</h1> -->

        <!-- <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="https://www.thecocktaildb.com/images/media/drink/3jm41q1493069578.jpg">
            </div>
            <div class="col-md-8">
                <h3>Amaretto Rose</h3>
                <small>Ordinary Drink - Pousse cafe glass</small>
                
                
                <p><b>Ingredientes:</b></p>
                <ul>
                    <li>Amaretto 1 1/2 oz</li>
                    <li>Lime juice 1/2 oz</li>
                    <li>Club soda c/n</li>
                </ul>
                
                <p><b>Instrucciones:</b></p>
                <p>Pour amaretto and lime juice over ice in a collins glass. Fill with club soda and serve.</p>
            </div>


        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="add_daily_food">Añadir</button>
      </div>
    </div>
  </div>
</div>
